node_modules
.tmp
.idea
.idea/
.DS_Store
.version
dist
.history
apps/api/postgres

# Coverage directory used by tools like istanbul
coverage

# dotenv environment variables file
.env
.env.dev

yarn.lock
lerna-debug.log

