node_modules
.tmp
.idea
.idea/
.DS_Store
.version
dist
.history
postgres
src/config/serviceAccount.json

# Coverage directory used by tools like istanbul
coverage

# dotenv environment variables file
.env
.env.dev

yarn.lock
